{% extends 'base.html.twig' %}

{% block title %}
	Product
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="col-md-9">
			<h2>Products</h2>
		</div>
		<div class="col-md-3">
			<div class="d-flex justify-content-end">
				<a href="{{ path('product.create') }}" class="btn btn-success">Add</a>
			</div>
		</div>
	</div>

	{# alert message #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-2">{{ message }}</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Price</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ product.name }}</td>
					<td>{{ product.price }}</td>
					<td>
						{% if product.image %}
							<img width="60" src="{{ asset('uploads/products/' ~ product.image) }}" alt="product Image">
						{% endif %}
					</td>
					<td>
						<a class="btn btn-primary" href="{{ path('product.edit',{id:product.id}) }}">Edit</a>
						{# <a href="{{ path('product.delete',{id:product.id}) }}" class="btn 
						btn-danger">Delete</a> #}
						
						<a href="#" class="btn btn-danger delete-post" data-id="{{ product.id }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block script %}
	<script>
		$(document).ready(function() {
			$('.delete-post').on('click', function(e) {
				e.preventDefault();

				var productId = $(this).data('id');

				// Confirm deletion
				if (confirm('Are you sure you want to delete this product?')) {
					$.ajax({
						url: '/product/delete/' + productId,
						type: 'DELETE',
						headers: {
							'X-CSRF-Token': $('#csrf_token').val()
						},
						success: function(response) {
							location.reload();
						},
						error: function(xhr) {
							console.log(xhr.responseJSON.message || 'An error occurred while deleting the post.');
						}
					});
				}
			});
		});
	</script>
{% endblock %}
